header
  .menu
    a(href='#')
    .menu-items
      a(href='/index') FORMULARIO
      a(href='/actualizar') ACTUALIZAR
      a(href='/buscar') BUSCAR
      a(href='/borrar') BORRAR
      a(href='/mostrarTodos') TODOS